# fisher
.config/fish/completions
.config/fish/functions/fisher.fish
.config/fish/fish_variables
.config/fisher
.config/fish/functions/__*

# configstore
.config/configstore

# containers
.config/containers

# lazygit
.config/lazygit/state.yml

# z
.config/fish/conf.d/z*

# sdk
.config/fish/functions/sdk.fish
.config/fish/conf.d/sdk.fish

# prompt
# .config/fish/functions/fish_mode_prompt.fish
# .config/fish/functions/fish_prompt.fish

# packer
.config/nvim/plugin/packer_compiled.lua
.config/packer

# iterms
.config/iTerm2

# memo
.config/memo

# local
config-local.fish
base-local.lua

# copilot
github-copilot

.DS_Store

# rest-client(vs-code)
rest-client

# lazy-lock
.config/nvim/lazy-lock.json

# argocd
.config/argocd

# skk
.config/nvim/skk

# karabiner-element
.config/karabiner

# colima
.config/colima

# nuxtrc
.config/.nuxtrc
